@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400..1000&display=swap');

body {
  font-family: 'Cairo', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

.FormSection {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  margin: 8rem auto;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  p{
    margin-top: 20px;
  }
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: block;
  font-weight: 600;
  font-size: 19px;
  margin-top: 15px;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 14px;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.visibility-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  font-size: 22px;
}

.visibility-icon:hover {
  color: #007BFF;
}

button {
  background-color: #1883db;
  color: white;
  border: none;
  padding: 12px;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #6e9ac8;
}



.errors {
  color: red;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 10px;
  height: 15px;
}

p {
  font-size: 14px;
  text-align: center;
}

p a {
  color: #1883db;
  text-decoration: none;
  font-weight: 600;
}

p a:hover {
  text-decoration: underline;
}